.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-wrap: wrap;
  color: white;
}

.Img {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #09d3ac;
}
